<% include ../partials/header.ejs %>

<form method="POST" action="/games">
<input type="text" name="name" placeholder="Game Name"><br>
<input type="text" name="description" placeholder="Game Description"><br>
<input type="text" name="players" placeholder="Number of Players"><br>
<input type="submit">

</form>



<% include ../partials/footer.ejs %>